@import '../../../colors.scss';
ion-menu {
    ion-header {
        ion-toolbar {
            display: flex;
            flex-direction: row;
            ion-title {
                gap: 5;
            }
        }
    }
    ion-content {
        ion-button {
            --background: var(--neutral-box-100);
            --color: var(--neutral-text-500);
        }
    }
}