<article>
    <h1>Kedves Dávid!</h1>
    <p>Ezúton is szeretnénk gratulálni, hogy eljutottál a házasságod előtti szivatós megmérettetésig!</p>
    <p>Ez az alkalmazás azért jött létre, mert mindannyian tudjuk, hogy van egy kedvenc játékod, amit szeretsz játszani, ez a Geoládázás, aminek egy személyre szabott változatát Matyi készítette, szívvel.</p> 
    <p>Éppen ezért a Legénybúcsú Bizottság 
    két szervező, Matyi és Daci, a hét elején itt járt a környéken, hogy gondosan elrejtsen neked 6, azaz hat ládát.</p>
    <p>A te feladatod, hogy megtaláld ezeket, és a benne lévő, Anitáról szóló kérdéseket megválaszold, amit a Geoláda menüponton be is tudsz írni a pin-ek rákattintásával.</p>
    <p>Amennyiben nem tudod, hogyan írd be a helyes választ, a <ion-button>Segítség</ion-button> gombbal tudsz segítséget kérni, de kérlek, mielőtt megnyomnád a gombot, gondold végig a választ!</p>
    <p>Ne feledd! A segítség nem a helyes megoldást tükrözi, csupán leírja a helyes válasz formátumát ahhoz, hogy korrekt választ tudj adni!</p>
    <p>Rossz válasz esetén büntetést von maga után, de ne félj segítséget kérni a Bizottságtól!</p>
    <p>Jó szórakozást kívánunk!</p>
    <p>Legénybúcsú Bizottság</p>
</article>